:root {
  --primary-color: #9ab392;
  --secondary-color: #798777;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
  color: grey;
  font-family: "Caveat", cursive;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

footer {
  background: #9ab392;
}

ul {
  list-style-type: none;
}

ul a {
  color: white;
  text-decoration: none;
}

ul a:hover {
  color: #798777;
}

.hero {
  display: block;
  margin: 70px auto;
  max-width: 700px;
  padding: 50px 30px 0 30px;
  border: 10px solid #9ab392;
}

.navbar {
  background: var(--primary-color);
}

.navbar-brand {
  color: white;
  font-family: "Caveat", cursive;
  font-size: 30px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.open-source {
  font-size: 13px;
}

.open-source a {
  color: #798777;
  font-family: "Caveat", cursive;
  font-size: 25px;
  text-decoration: none;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: var(--secondary-color);
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.weather-pic,
.arcachon-pic {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.aboutPage,
.contactPage {
  border: 10px solid #9ab392;
  margin: 60px auto;
  padding: 30px;
  max-width: 700px;
}

.portfolioPage {
  border: 10px solid #9ab392;
  margin: 60px;
  padding: 30px;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: #798777;
}

.logos {
  width: 70px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 70px;
    line-height: 1.5;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .hero,
  .contactPage,
  .aboutPage {
    margin: 10px;
  }
  .contact-me {
    font-size: 25px;
  }
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .email-link {
    font-size: 20px;
  }
  .aboutPage {
    padding: 0;
  }
  .aboutMe {
    margin-bottom: 30px;
  }
  .about-paragraphs {
    margin: 20px;
  }
}
